:root {
  /* Colors */
  --primary-color: #0395d7;
  --secondary-color: #d3d8db;
  --background-light: #ededed;
 --background-dark: #0D0D0D;
  --accent-color: #1c3f95;
  --text-dark: #000000;
  --text-light: #ffffff;

  /* Font Family  */
  --font: "Nunito Sans", sans-serif;

  /* Font Sizes */
  --fs-h1: 3.815rem;
  --fs-h2: 3.052rem;
  --fs-h3: 2.441rem;
  --fs-h4: 1.953rem;
  --fs-h5: 1.563rem;
  --fs-h6: 1.25rem;

  --fs-p: 1rem;
  --fs-small: 0.8rem;
  --fs-tiny: 0.64rem;

  /* Font Weights */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-bolder: 800;
  --fw-black: 900;
}

/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  font-size: var(--fs-p);
  line-height: 1.6;
  color: var(--text-dark);
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--text-light);
}

ul {
  list-style: none;
}

/* Button Styles  */
.btn {
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  font-size: var(--fs-p);
  font-weight: var(--fw-semibold);
  color: var(--text-light);
  background: var(--accent-color);
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: var(--primary-color);
  color: var(--text-light);
}

/* Container  */
.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 1rem;
}

/* Header  */
header {
  padding: 0 32px;
  background-color: var(--background-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

nav .logo {
  width: 180px;
  height: auto;
}

nav .logo img {
  width: 100%;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li a {
  font-size: var(--fs-p);
  font-weight: var(--fw-semibold);
  color: var(--text-dark);
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--primary-color);
}

section {
  padding: 0 32px;
}

section .container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 800px;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, .6),
      rgba(0, 0, 0, 0)
    ),
    url("images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--text-light);
}

.hero-content {
  padding: 24% 0;
}

.hero-section h1 {
  font-size: var(--fs-h1);
  line-height: 1.125;
  font-weight: var(--fw-bold);
  margin-bottom: 16px;
}

.hero-section p {
  font-size: 20px;
  margin-left: 4px;
}

div .hero-cta-btn {
  font-size: 16px;
  margin-top: 24px;
}

/* About Section  */
.about-section .container {
  height: 650px;
  flex-direction: row;
  gap: 20px;
  padding: 20px 0;
}

.left-column,
.right-column {
  flex: 1;
}

/* About Left Column  */
.left-column {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.left-column h2 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bolder);
}

.left-column h3 {
  color: var(--primary-color);
  font-size: var(--fs-h5);
  font-weight: var(--fw-bold);
}

.left-column p {
  font-size: var(--fs-h6);
  margin: 20px 0;
}

.btn-group {
  display: flex;
  margin-top: 20px;
  gap: 24px;
}

.btn-2 .btn {
  background: var(--primary-color);
}

.btn-2 .btn:hover {
  background: var(--accent-color);
}

/* About Right Column  */
.right-column {
  background: url("images/hero-img.jpg") no-repeat 85% top / cover;
  border-radius: 12px;
}

/* Footer  */
footer {
  background-color: var(--background-dark);
  color: var(--text-light);
  padding: 32px 20px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 32px;
}

footer .column-1,
footer .column-2,
footer .column-3 {
  flex: 1;
}

/* Column-1 */
footer .column-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

footer .column-1 .logo {
  width: 300px;
  height: auto;
}

footer .column-1 .logo img {
  width: 100%;
}

footer .column-1 p {
  font-size: var(--fs-p);
  color: var(--text-light);
  text-align: center;
}

footer .column-1 .footer-sci {
  display: flex;
  gap: 20px;
}

footer .column-1 .footer-sci i {
  font-size: 24px;
  color: var(--text-light);
  transition: all 0.3s ease;
}

footer .column-1 .footer-sci i:hover {
  transform: translateY(-6px);
  color: var(--primary-color);
  text-shadow: 0 0 10px var(--primary-color);
}

/* Column-2 */
footer .column-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .column-2 h4 {
  font-size: var(--fs-h6);
  font-weight: var(--fw-bold);
  color: var(--text-light);
}

footer .column-2 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .column-2 ul li a {
  font-size: var(--fs-p);
  font-weight: var(--fw-medium);
  color: var(--text-light);
  transition: color 0.3s ease;
}

footer .column-2 ul li a:hover {
  color: var(--primary-color);
}

/* Column-3 */
footer .column-3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .column-3 h4 {
  font-size: var(--fs-h6);
  font-weight: var(--fw-bold);
  color: var(--text-light);
}

footer .column-3 div.info-item {
  display: flex;
}

footer .column-3 .info-item i {
  font-size: 20px;
  color: var(--primary-color);
  margin-right: 12px;
}

footer .column-3 div.info-item p {
  font-size: var(--fs-p);
  color: var(--text-light);
}